*{
    padding:0px;
    margin:0px;
}
body{
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
}
.container{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 250px;
    max-height: fit-content;
    justify-content: center;
    border-radius: 10px;
    max-width: fit-content;
    border-radius: 15px;
}
.box{
    width: 300px;
    height: 450px;
    padding:3em;

}
.orange{
    
    background-color:hsl(31, 77%, 52%);
    
}
.box .blue{
    background-color:hsl(184, 100%, 22%);
}
.green{
    background-color:hsl(179, 100%, 13%);

}
p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;
    font-size: 15px;
    padding-bottom: 100px;
    
}
h1{
    padding-top:30px ;
    padding-bottom: 30px;
    color: #e4fafd;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'sLexend Deca';
  } 
.button1{
    transition-duration: 0.4s;
    border-radius: 20px;
    color:hsl(31, 77%, 52%);
    padding: 12px 28px;
    font-size:18px;
    border: white;
  }
  
.button1:hover {
    background-color: hsl(31, 77%, 52%); 
    color: white;
    border: 2px solid white;
  }
  .button2{
    transition-duration: 0.4s;
    border-radius: 20px;
    color:hsl(184 100% 22%);
    padding: 12px 28px;
    font-size:18px;
    border: white;
  }
  
.button2:hover {
    background-color:hsl(184 100% 22%); 
    border: 2px solid white;
    color: white;
  }
  .button3{
    transition-duration: 0.4s;
    border-radius: 20px;
    color:hsl(179, 100%, 13%);
    padding: 12px 28px;
    font-size:18px;
    border: white;
  }
  
.button3:hover {
    background-color:hsl(179, 100%, 13%) ;
    border: 2px solid white;
    color: white;
  }
